{% extends "blog/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Notifications</h2>
    {% if notifications%}
     <ul class="list-group">
        {% for post in notifications%}
            <li class="list-group-item d-flex justify-content-between align-items-center {% if not post.is_read %}list-group-item-info{% endif %}">

                <strong>{{post.type|capfirst}}:</strong> {{post.message}}<br>
                <small class="text_muted">From: {{post.sender.username}} | {{ post.timestamp|date:"M d, Y H:i" }}</small>
        
                    {% if post.action_url %}
                        <a href="{{ post.action_url }}" class="btn btn-sm btn-primary">View</a>
                    {% endif %}
            </li>
        {% endfor %}
     </ul>
    {% else %}
    <p>No notifications yet.</p>
    
    {% endif%}
    </div>
{% endblock %}

