{% extends 'blog/base.html' %}
{% block content %}

<style>
  .reset-done-container {
    max-width: 400px;
    margin: 70px auto;
    background-color: #74a3ba;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }

  .reset-done-container .icon-box {
    background-color: #f4fafb;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reset-done-container .icon-box i {
    font-size: 36px;
    color: #243641;
  }

  .reset-done-container h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .reset-done-container p {
    font-size: 14px;
    color: #e8e6e6;
    margin-bottom: 25px;
    line-height: 1.5;
  }

  
</style>

<div class="reset-done-container">
  <div class="icon-box">
    <i class="bi bi-envelope-check-fill"></i>
  </div>
  <h2>Check Your Email</h2>
  <p>If an account exists with the email you entered, you’ll receive a password reset link shortly.</p>
 

{% endblock %}
